.table {
  width: 100%;
  border-collapse: collapse;

  &-header {
    background-color: #bee0ec;
  }

  th,
  td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    color: #040f13;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}
